body {
  background: rgba(40,40,40,1);
}
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

.node text {
  font-family: "HelveticaNeueLTStd-Roman", Arial, sans-serif;
  font-weight: Regular;
  font-size: 14px;
  letter-spacing: 0.8px;
  fill: #d3d3d3; 
}

.link {
  fill: none;
  stroke: rgba(100,100,100,1);
  stroke-width: 1.0px;
}
